*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    padding: 0;
}
.header{
    background-color: #AAD501;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: -5px 49px 35px -11px rgba(0,0,0,0.3);
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo img{
    width: 60px;
    height: auto;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color: #749100;
    transition: .5s;
}
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

@media (max-width: 768px) {
    body{
        padding-top: 70px;
    }
    .header{
        height: 60px;
    }
    .logo img{
        width: 60px;
        height: auto;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #AAD501;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: 70%;
        overflow-y: auto;
        left: 100%;
        transition: left .3s;
    }
    .nav-menu-item{
        line-height: 70px;
    }
    .nav-menu-link:hover{
        background: none;
        color: rgb(0, 0, 0);
    }
    .nav-toggle{
        display: block;
    }
    .nav-menu_visible{
        left: 0%;
    }
}
/*inicio*/
section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}
.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/inicio_fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.inicio .image img{
    width: 40vw;
}
.inicio .content h3{
    font-size: 5.5rem;
    color: #AAD501;
    text-transform: uppercase;
}
.inicio .content p{
    font-size: 1.7rem;
    color: #000000;
    padding: 1rem 0;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .6rem 1rem;
    border-radius: 5rem;
    background: #AAD501;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    box-shadow: 16px 27px 15px -3px rgba(0,0,0,0.1);
    transition: all .3s linear;
    text-decoration: none;
    border: none;
}
.btn:hover{
    transform: scale(1.1);
    background-color: #749100;

}
.hide{
    display: none;
}
.show{
    display: block;
}
.card{
    display: flex;
    margin: 20px;
    align-items: center;
    overflow: hidden;
    width: 300px;
    height: 380px;
    background-color: white;
    box-shadow: 0px 0px 15px 9px rgba(0,0,0,0.1);
    transition: .3s ease-in-out;
}
.card:hover{
    width: 600px;
}
.card .imgbox{
    position: relative;
    min-width: 300px;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.card .imgbox img{
    width: 85%;
    height: auto;
}
.card .details{
    position: relative;
    min-width: 300px;
    background: #AAD501;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #ffffff;
}
.card .details::before{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid #ffffff;
}
.card .details h4{
    font-size: 1rem;
}
.card .details .description p{
    font-size: .8em;
    font-weight: 200;
}
.card .details .buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .details .buy .price{
    font-size: 1.6em;
}
.card .details .buy .boton{
    background: #ffffff;
    padding: .8em;
    text-transform: uppercase;
    border-radius: 6px;
}
.card .details .buy .boton a{
    text-decoration: none;
    color: #AAD501;
}
.card .details .buy .boton:hover{
    background: #749100;
    cursor: pointer;
}
.card .details .buy .boton a:hover{
    color: #ffffff;
}


/*inicio responsive*/
@media (max-width:768px) {
    .inicio{
        flex-flow: column-reverse;
    }
    .inicio .image img{
        width: 100%;
    }
    .inicio .content h3{
        font-size: 3.6rem;
    }
    .inicio .content p{
        font-size: 1.5rem;
    }
}
/*footer*/
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #AAD501;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #749100;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #000000;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #AAD501;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}